# Thanks guys
antiqueatlas
# Ignore all files
*.*

# allow all files in specific directories
!config/**
!defaultconfigs/**
!icons/**
!kubejs/**
!openloader/**
!packmenu/**
!resourcepacks/**

# Allow specific files
!.gitignore
!readme.md
!./icon.png

#Ignore specifics
config/spark/
resourcepacks/Quark Programmer Art.zip
