# Thanks guys
antiqueatlas
# Ignore all files
*.*

# allow all files in specific directories
!config/**
!defaultconfigs/**
!icons/**
!kubejs/**
!openloader/**
!packmenu/**
!resourcepacks/**
!script_backup/**

# Allow specific files
!.gitignore
!readme.md
!./icon.png

#Ignore specifics
config/spark/**
config/jei/bookmarks.ini
resourcepacks/Quark Programmer Art.zip
kubejs/exported/**
shaderpacks/**
